
input#message {
    border: 2px solid #dadada;
    border-radius: 7px;
}

input#message:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.encoding {
  /* text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 -6px 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de ; */
  border: 2px solid #73AD21;
  padding: 2px;
}

#board{
  height: 800px;
  width: 416px;
  background-color: red;
  position: relative;
}
.pipe-container {
  height: 32px;
  width: 32px;
  background-color: black;
  border: 0 0 0 0;
  display: inline-block;
  position: absolute;
}
.pipe-tile {
  background: url(icons/plums.png) no-repeat;
  height: 32px;
  width: 32px;
  background-color: black;
  color: white;
  border: 0 0 0 0;
  display: inline-block;
  position: relative;
  /* position: absolute; */
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.pipe-E {
  background-position: 0px -32px
}
/*.plum-junct {
  background-position: -31px -32px
}
*/
.pipe-H{
  background-position: -128px -64px;
}
.pipe-T {
  background-position: -95px -160px;
}
.pipe-L{
  background-position: -63px -64px
}
.pipe-R {
  background-position: -95px -64px
}
.pipe-V {
  background-position: -127px -96px
}

.pipe-A {
  background: url(icons/plum-leaf-alpha.png) no-repeat;
  background-color: black;
  height: 32px;
  width: 32px;
  border: 0 0 0 0;
}


.pipe-letter {
  position: relative;
  top: 13px;
  left: 11px;
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em;
  font-family: ‘Palatino Linotype’, ‘Book Antiqua’, Palatino, serif;
  /* font-family: Copperplate / Copperplate Gothic Light, sans-serif; */
}

.pipe-red .pipe-letter {
  color: white; 
  /* text-shadow: black 0.1em 0.1em 0.2em; */
  /* text-shadow: red 0.1em 0.1em 0.2em; */
  text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87;
}

/* .pipe-red.pipe-R { */
/*   background-position: -415px -448px */
/* } */
/* .pipe-red.pipe-L { */
/*   background-position: -384px -448px */
/* } */
/* .pipe-red.pipe-H { */
/*   background-position: -447px -448px */
/* } */
/* .pipe-red.pipe-V { */
/*   background-position: -447px -480px */
/* } */
/* .pipe-red.pipe-T { */
/*   background-position: -415px -544px; */
/* } */
/* .plum-red.plum-t-up { */
/*   background-position: -415px -544px; */
/* } */

.pipe-red.pipe-R:after {
  background-position: -415px -448px
}
.pipe-red.pipe-L:after {
  background-position: -384px -448px
}
.pipe-red.pipe-H:after {
  background-position: -447px -448px
}
.pipe-red.pipe-V:after {
  background-position: -447px -480px
}
.pipe-red.pipe-T:after {
  background-position: -415px -544px;
}

.pipe-tile:after {
	content: "";
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background: url(icons/plums.png) no-repeat;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}
.pipe-tile.pipe-red:after{
	opacity: 1;
}

.pipe-tile.pipe-red.pipe-A:after{
	opacity: 0;
}
.pipe-tile.pipe-red.pipe-E:after{
	opacity: 0;
}


/* .pipe-tile.pipe-T:after { */
/* 	content: ""; */
/* 	position: absolute; */
/* 	top: 0; left: 0; bottom: 0; right: 0; */
/* 	background: url(icons/plums.png) no-repeat; */
/*         background-position: -415px -544px; */
/* 	opacity: 0; */
/* 	-webkit-transition: opacity 0.5s; */
/* 	-moz-transition:    opacity 0.5s; */
/* 	-o-transition:      opacity 0.5s; */
/* } */
/* .pipe-tile.pipe-red.pipe-T:after{ */
/* 	opacity: 1; */
/* } */
