/* writer css */
.game-container {
  font-family: "Lucida Console", Monaco, monospace;
}

.message-header {
  font-family: "Lucida Console", Monaco, monospace;
  color: white;
  text-align: center;
}

.encoding-header {
  color: white;
  font-family: "Lucida Console", Monaco, monospace;
  width: 100%;
  content: "";
  display: table;
  clear: both;
}

.share-a {
  /*elflord green*/
  color: #60ff60;
  background-color: black;
  padding: 0 1em;
  text-decoration: none;
}
.share-a:visited {
  /*elflord green*/
  color: #60ff60;
}

.share-elm {
  display: inline-block;
  border: 2px solid #73ad21;
  cursor: pointer;
  margin: 5px 3px;
}

.share-button-container {
  text-align: center;
  padding: 2px;
}
/* clearfix */
.share-button-container:after {
  content: "";
  display: table;
  clear: both;
}

.digit-select-container {
  float: right;
}

.digit-select-container>div{
  margin: 5px;
}

.digit-select {
  display: inline-block;
  border: 2px solid #73ad21;
  color: #60ff60;
  background-color: black;
  padding: 0 1em;
}

.digit-select:hover {
  cursor: pointer;
}

.bit-display-container {
  margin: 7px 0;
  float: left;
}

input[type=text] {
  width: 80%;
}

#code {
  margin-top: 3px;
  /* color: white; */
  color: #60ff60;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: 600;
}

.super-shadow {
  /* text-shadow: 0 0 10px rgba(255,255,255,1) , 0 0 20px rgba(255,255,255,1) , 0 -6px 30px rgba(255,255,255,1) , 0 0 40px #ff00de , 0 0 70px #ff00de , 0 0 80px #ff00de , 0 0 100px #ff00de */
  text-shadow:  0px 0px 5px rgba(255, 255, 255, 1), 
                0px 0px 7px rgba(255, 255, 255, .5), 
                0px 0px 9px rgba(255, 255, 255, .5),
                0px 0px 12px rgba(73, 255, 24, .5),
                0px 0px 15px rgba(73, 255, 24, .5),
                0px 0px 20px rgba(73, 255, 24, .5),
                0px 0px 25px rgba(73, 255, 24, .5),
                0px 0px 30px rgba(73, 255, 24, .5);
}

/* decoder css */

.decoded-letter {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: large;
  display: inline-block;
  /* color: red; */

  /*rust color*/
  /*color: #cf4648;*/

  /*dark green*/
  /* color: #346524;*/

  /*light green*/
  /* color: #6daa2b; */
  /*elflord green*/
  color: #60ff60;
}

#decoded-message:not(.done):after {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: large;
  display: inline-block;
  /*elflord green*/
  color: #60ff60;
  content: "|";
  text-decoration: blink;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  animation: blink-animation 1s steps(5, start) infinite;
}

/* .decoded-letter:not(.done):last-child:after { */
/*   content: '|'; */
/*   text-decoration: blink; */
/*   animation: blink-animation 1s steps(5, start) infinite; */
/*   -webkit-animation: blink-animation 1s steps(5, start) infinite; */
/* } */

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.encoded-bit {
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: large;
  color: yellow;
}

.current-bit {
  color: yellow;
  font-size: xx-large;
}

.current-letter-bit-already-done {
  color: #cf4648; /*rust color*/
}

.bit-already-done {
  /* color: grey; */

  /* steel grey */
  /* color: #8594a1; */

  /*dark cyan*/
  color: #80a0ff;
}

.message-container {
  border: thin solid black;
  width: 416px;
  background-color: black;
  color: white;
}
#encoded-message {
  padding: 1em;
}
#decoded-message {
  padding: 1em;
}

.your-code-label {
  padding: 1em;
  color: magenta;
}
.decoded-message-label {
  padding: 1em;
  color: magenta;
}
