/* writer css */

.share-a {
  /*elflord green*/
  color: #60ff60;
  background-color: black;
  padding: 0 1em;
}
.share-a:visited {
  /*elflord green*/
  color: #60ff60;
}

.share-elm {
  display: inline-block;
  border: 2px solid #73ad21;
}

/* decoder css */

.decoded-letter {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: large;
  display: inline-block;
  /* color: red; */

  /*rust color*/
  /*color: #cf4648;*/

  /*dark green*/
  /* color: #346524;*/

  /*light green*/
  /* color: #6daa2b; */
  /*elflord green*/
  color: #60ff60;
}

#decoded-message:not(.done):after {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: large;
  display: inline-block;
  /*elflord green*/
  color: #60ff60;
  content: "|";
  text-decoration: blink;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
  animation: blink-animation 1s steps(5, start) infinite;
}

/* .decoded-letter:not(.done):last-child:after { */
/*   content: '|'; */
/*   text-decoration: blink; */
/*   animation: blink-animation 1s steps(5, start) infinite; */
/*   -webkit-animation: blink-animation 1s steps(5, start) infinite; */
/* } */

@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

.encoded-bit {
  display: inline-block;
  /* font-family: "Lucida Console", Monaco, monospace; */
  font-family: monaco, Consolas, "Lucida Console", monospace;
  font-size: large;
  color: yellow;
  /* color: white; */
}

.current-bit {
  /* color: red; */
  color: yellow;
  font-size: xx-large;
}

.current-letter-bit-already-done {
  /* color: blue; */
  color: #cf4648; /*rust color*/
}

.bit-already-done {
  /* color: grey; */

  /* steel grey */
  /* color: #8594a1; */

  /*dark cyan*/
  color: #80a0ff;
}

.message-container {
  border: thin solid black;
  width: 416px;
  background-color: black;
  color: white;
}
#encoded-message {
  padding: 1em;
}
#decoded-message {
  padding: 1em;
}

.your-code-label {
  padding: 1em;
  color: magenta;
}
.decoded-message-label {
  padding: 1em;
  color: magenta;
}
